h2{
    color:darkorange;
}
#blocco-intestazione{
    background-color: darkgray;
}
#immagine-iniziale{
    display: block;
    margin:0 auto;
    width: 10%;
    height:10%;
}
#titolo-centrato{
    text-align: center;
}
hr{
    background-color: darkorange;
}