h2{
    color:darkorange;
}
#blocco-intestazione{
    background-color: darkgray;
    width: 800px;
    margin:0 auto;
    text-align: center;
    border-bottom:2px solid darkorange;
}
#immagine-iniziale{
    
    width: 20%;
    height:20%;
}
#titolo-centrato{
    text-align: center;
}


section{
    width: 800px;
    margin:0 auto;
}
#linea-divisoria{
    width: 800px;
    margin:0 auto;
    text-align: center;
    border-top:2px solid darkorange;
    
}
